form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #000000;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #000000;
    color: #000000;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}
