p{
    margin-top: .5em;
    font-size: 40;
}
h1{ 
    font-size: 6em;
    font-weight: extrabold;
}
h2{ 
    font-size: 2em;
    font-weight: bold; 
}
/* Zorg dat alle tekst groen is */
body, h1, h2, h3, h4, h5, h6, p, span, li, a {
    color: white; /* kleine tekst op alle pagina's */
}
